<div class="container" *ngIf="StockData">
  
  <div class="header">
    STOCK MARKET
    </div>
   

  <div class="subheading">
    <span class="one"> stock market </span>
    <span class="two"> live rates </span>
</div>
    <div class="bar">
      <img class="bar" src="../assets/blue bar.png"/>
      </div>
      <div class="heading">
        
        Graph
        </div>
        <div class="bar-graph">
   <img class="graph" src="../assets/pic.png" alt="">
          </div>
          <div class="heading">
            Market
          </div>
            <div class="table">
              <table>
                <tr>
                  <th>Trading floor</th>
                  <th>Currency</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>{{ StockData.symbol }} </td>
                  <td>EUR/USD</td>
                  <td>{{ StockData.function }}</td>
                </tr>
                <tr>
                  <td>Apple</td>
                  <td>USD/JPY</td>
                  <td>$9072</td>
                </tr>
              </table>
              

            </div>
          </div>


<div class="container">
  
  <div class="header">
    STOCK MARKET
    </div>
   

  <div class="subheading">
    <span class="one"> stock market </span>
    <span class="two"> live rates </span>
</div>
    <div class="bar">
      <img class="bar" src="../assets/blue bar.png"/>
      </div>
      <div class="heading">
        
        Graph
        </div>
        <div class="bar-graph">
   <img class="graph" src="../assets/pic.png" alt="">
          </div>
          <div class="heading">
            Market
          </div>
            <div class="table">
              <table>
                <tr>
                  <th>Trading floor</th>
                  <th>Currency</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>Tesla </td>
                  <td>EUR/USD</td>
                  <td>$4072.3</td>
                </tr>
                <tr>
                  <td>Apple</td>
                  <td>USD/JPY</td>
                  <td>$9072</td>
                </tr>
              </table>
              

            </div>
          </div>
